

.module-container{
  width: 100%;
  min-width:200px;
  max-width: 300px;
  animation: turn cubic-bezier(0.23, 1, 0.320, 1) 1.5s;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

@keyframes turn{
  from {
    transform:  translate(15%,0);

  }
  to {transform: translate(0,0);
  }
}
@keyframes pop-up {
  from {
    transform: rotate3d(1,0,0,55deg);

  }
  to {transform: rotate3d(1,0,0,50deg);

  }
}


.module-screen{
  width:100%;
  aspect-ratio: 16/10.2;
  height:auto;
  background-color: black;
  border-radius: 10px 10px 0 0;  
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  
}
.module-screen-content{
  width:94%;
  margin-top: 4%;
  aspect-ratio: 16/9;
  height:auto;
  background-color: light-dark(var(--light-grey-1),var(--dark-grey-1));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  
}

.module-keyboard{
  animation: pop-up cubic-bezier(0.23, 1, 0.320, 1) 1.5s backwards;
  width:96%;
  aspect-ratio: 16/10.2;
  height:auto;
  background-color: light-dark(var(--dark-grey-1),var(--light-grey-1));
  transform-origin: 50% 0px;
  transform: rotate3d(1,0,0,50deg);
  border-radius: 0px 0px 10px 10px;
  padding:2%;
  display: flex;
  flex-direction: column;
  gap:2%;
  justify-content: center;
  align-items: center;
  font-size: clamp(4.75px, 0.65vw, 0.65vw);
}

.module-keyboard-wrapper{
      perspective: 1600px;
  transform-style: preserve-3d;
  width:100%;
  position: relative;
  display: flex;
}

.module-keyboard-keyarea{
  aspect-ratio: 14.8/5;
  width:96%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.module-keyboard-touchpad{
  flex-grow: 1;
   width:30%;
   background-color: light-dark(var(--dark-grey-2),var(--light-grey-2));
   position: relative;
}
.module-keyboard-touchpad::after{
  content: "";
  width:80%;
  bottom:20%;
  border: 0.7px solid light-dark(var(--light-grey-2),var(--dark-grey-2));
  position: absolute;
  left:50%;
  transform: translateX(-50%)
}
.keyarea-keyrow{
  display: flex;
  width:100%;
  aspect-ratio: 14.8/1;
  position:relative;
  align-items: center;
}
.keyarea-fncrow{
  display: flex;
  background-color: light-dark(var(--white),var(--black));
  position:relative;
  width:100%;
  aspect-ratio: 15/0.5;
  border-bottom: 0.3em solid light-dark(var(--dark-grey-1),var(--light-grey-1));
  border-left: 0.3em solid light-dark(var(--dark-grey-1),var(--light-grey-1));
  border-right: 0.3em solid light-dark(var(--dark-grey-1),var(--light-grey-1));
  box-sizing: border-box;
}


.keyarea-key{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  aspect-ratio: 1/1;
  height:100%;
  background-color:light-dark(var(--white),var(--black));
  border: 0.3em solid light-dark(var(--dark-grey-1),var(--light-grey-1));
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: light-dark(var(--primary-text-black),var(--primary-text));
  align-content:start;
  font-size: 1em;
  text-align: left;
  text-indent: 0.15em each-line;
  line-height: 100%;
  overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.keyarea-key::before{
  content:"";
  height:0.3em;
  display:none;
}
.keyarea-key::after{
  content:"";
  position: absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:0.3em;
  background-color: light-dark(var(--light-grey-2),var(--dark-grey-2));
}
.key-letter.keyarea-key::before{
  height: 0.24em;
}
.key-letter.keyarea-key::after{
  height: 0.24em;
}



.key-text{
  font-size: 0.8em;
  padding-left:0.2em;
  padding-top: 0.4em;
  align-content:start;
}
.key-letter{
  font-size: 1.25em;
  padding-left:0.1em;
  padding-top: 0.2em;
}


.key-duo span{
font-size: 1em;
line-height: 1em;
}
.key-duo{
  padding-left:0.2em;
}
.key-bksp{
  aspect-ratio: 1.8/1;
  text-align: right;
  padding-right:0.2em;
}
.key-rtab{
  aspect-ratio: 1.4/1;
}
.key-ltab{
  aspect-ratio: 1.4/1;
}
.key-entr{
  aspect-ratio: 2/1;
  text-align: right;
  padding-right:0.2em;
}
.key-cplk{
   aspect-ratio: 1.8/1;
}
.key-rshf{
   aspect-ratio: 2.6/1;
   text-align: right;
   padding-right:0.2em;
}
.key-lshf{
   aspect-ratio: 2.2/1;
}
.key-mult{
   aspect-ratio: 2.6/1;
   height: 100%;
   display: flex;
   flex-direction: column;
}
.key-mult-row{
display: flex;
flex-direction: row;
aspect-ratio: 4/1;
}
.mult-key{
 flex-grow: 1;
 font-size: 0.8em;
 aspect-ratio: 1.3/1;
 line-height: 1.6em;
 align-items: center;
}

.key-ctrl{
   aspect-ratio: 1.1/1;
}
.key-spce{
  aspect-ratio: 5.1/1;
}
.key-pressed{
 /* border-bottom: 2px solid light-dark(var(--dark-grey-1),var(--light-grey-1));*/
}

.key-pressed::after{
  background-color: light-dark(var(--dark-grey-1),var(--light-grey-1));
  bottom:unset;
  top:0px
}

.key-pressed::before{
  display: block;
}

.keyarea-key:hover{
 /* border-bottom: 2px solid light-dark(var(--dark-grey-1),var(--light-grey-1));*/
}

.keyarea-key:hover::after{
  background-color: light-dark(var(--dark-grey-1),var(--light-grey-1));
  bottom:unset;
  top:0px;
  
}
.key-logo{
  text-indent: 0px;
  text-align: center;
  justify-content: center;
  position: relative;
  
}
.key-logo i{
  height:100%;
  padding-top: calc(31.5% - 2px);
  font-size: 1.5em;
}
.keyarea-key:hover::before{
  display: block;
  
}
.key-arrow{
  text-indent: 0px;
  text-align: center;
  justify-content: center;
  position: relative;
}


.module-app{
    display:flex;
    position: relative;
    height: 100%;
    width:100%;
    flex-direction: column;
    font-size: 0.8em;
    background-color: light-dark(var(--light-grey),var(--dark-grey));
}
.module-app-titlebar{
    height:2em;
    width:100%;
    justify-content: right;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: light-dark(var(--light-grey),var(--dark-grey));
}
.app-titlebar-title{
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: light-dark(var(--primary-text-black),var(--primary-text));
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}
.module-app-titlebar i{
    margin-right: 2%;
    position: relative;
    display: flex;
    height:50%;
    width: auto;
    aspect-ratio: 1/1;
    background-color: light-dark(var(--light-grey-2),var(--dark-grey-2));
    border-radius: 50%;
}
.module-app-titlebar i:nth-of-type(2){
  background-color: light-dark(#d28c8c,#604343);
}

.module-app-filebar{
    height:2em;
    width:100%;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: light-dark(var(--white), var(--black));
    gap:0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
    border-bottom: 1px solid light-dark(var(--dark-grey-1),var(--light-grey-1));
}
.app-filebar-file{
  color: light-dark(var(--primary-text-black),var(--primary-text));
  flex: 1;
  border-radius: 3px;
  font-size: 0.7em;
  height: calc(100% - 2px);
  align-content: center;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid light-dark(var(--white),var(--black));
  position: relative;
  box-sizing: border-box;
}
.app-filebar-file::after{
  width: 5%;
content: "";
position: absolute;
left:50%;
transform: translateX(-50%);
height: 1px;
background-color: rgba(255, 255, 255, 0);
bottom:-1px;
transition: all 0s;
}

.app-filebar-file.selected{
  border-radius:3px 3px 0 0 ;
  border: 1px solid light-dark(var(--dark-grey-2),var(--light-grey-2));
  background-color: light-dark(var(--light-grey),var(--dark-grey))
}

.app-filebar-file:hover:not(.selected){
  background-color: light-dark(var(--light-grey),var(--dark-grey));
}
.app-filebar-file.selected:after{
content: "";
position: absolute;
left:50%;
transform: translateX(-50%);
width: 50%;
height: 1px;
background-color: light-dark(var(--dark-grey-2),var(--light-grey-2));
bottom:-1px;
transition: all 0.5s;
}
.app-filebar-file.selected::before{
content: "";
position: absolute;
left:-1px;
width: calc(100% + 2px);
height: 3px;
background-color: light-dark(var(--light-grey),var(--dark-grey));
bottom:-3px;
box-sizing: border-box;
border-left: 1px solid light-dark(var(--dark-grey-1),var(--light-grey-1));
border-right: 1px solid light-dark(var(--dark-grey-1),var(--light-grey-1));
}
.app-editarea{
display: none;
position: relative;
overflow:hidden;
flex: 1;
}
.app-editarea textarea, .app-editarea pre{
width: 100%;
height: 100%;
  min-width: unset;
  box-sizing: border-box;
padding: 1em;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  overflow: scroll;
  white-space: pre;
}
.app-editarea textarea::-webkit-scrollbar-corner, .app-editarea pre::-webkit-scrollbar-corner{
  background-color: unset;
}
::-webkit-scrollbar-thumb {
  border: 4px solid light-dark(var(--light-grey),var(--dark-grey)); 
}

.app-editarea textarea{
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: light-dark(var(--dark-grey-1),var(--light-grey-1));
  border: none;
  resize: none;
}
textarea:focus{
  outline: none;
}
.app-editarea pre{
  z-index: 0;
}
.app-editarea textarea, .app-editarea pre, .app-editarea pre *{
  font-size: 1em;
  font-family: monospace;
  line-height: 1.2em;
}
.visible{
  display: flex;
}

@media only screen and (min-width:1030px){
.module-container{
  max-width: 400px;
}
.module-keyboard{
  font-size: clamp(4.75px, 0.65vw, 0.5vw);;
}
}
@media only screen and (min-width:2000px){
.module-container{
  max-width: 500px;
}
.module-keyboard{
  font-size: clamp(4.75px, 0.65vw, 10px);;
}

}

@media only screen and (aspect-ratio < 1/1.1){
.hero-section{
  flex-direction: column;
}
.hero-subsection:nth-of-type(2){
  max-width: 100%;
  width:100%;
}
.module-container{
  max-width: 50%;
}

.module-keyboard{
  font-size: clamp(4.75px, 1vw, 1vw);
}
.module-app{
  font-size: 1em;
}
}

@media only screen and (width < 800px){
.hero-section{
  flex-direction: column;
}
.hero-subsection:nth-of-type(2){
  max-width: 100%;
  width:100%;
  justify-content: start;
}
.module-container{
  max-width: 70%;
  
}

.module-keyboard{
  font-size: clamp(4.75px, 1.4vw, 1.4vw);
}
.module-app{
  font-size: 1em;
}
}



@media only screen and (max-width: 450px){
.module-app{
  font-size: 0.8em;
}
}
@media only screen and (max-width: 700px) and (max-height: 450px){
.h1{
  font-size: 2em;
}
.h2{
  font-size: 1em;
}
.hero-subsection .hero-cta{
  font-size: 1em;
}
}
@media only screen and (max-height: 450px) {
  .hero-section{
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 0.8em;
  }
  .hero-subsection{
    min-width: unset;
    max-height: 100vh;
  }
  .module-container{
    max-width: unset;
  width: clamp(150px,60%,235px);
  min-width: unset;
}
.module-keyboard{
  font-size: clamp(2.75px, 1vh, 1vh);
}
.module-app{
font-size: 0.5em;
}
}
