
/*
Scrollbar  Handling
*/


body {
  background-color: var(--white_black);
      margin: 0;
      padding:0;
      overflow-x: clip;
      color: var(--primary-text-black_primary-text);
  font-family: Arial, Helvetica, sans-serif;
}
html{
  overflow-x: hidden;

  scroll-behavior: smooth;
}

p{
  font-size: large;
}

/* Takes full screen width */
.top-nav-wrapper{
  display: flex; 
  justify-content: center;
  position: sticky;
  top:10px;
  bottom:-90px;
  margin-top:0px;
  z-index:100;
box-shadow: 0 0px 20px 20px var(--white_black);
background-color: var(--white_black);

}

/* Main nav element */

.top-nav {
  height: max-content;
  position: relative;
  width: 98%;
  min-height: 60px;
  display: inline-flex;
  border-radius: 100px;
  background-color: var(--purew_dark-grey);
  box-shadow: 0 0 10px 0px var(--light-grey-2_black)
  
}
.top-nav-wrapper:has(.flipped){
  bottom:1%;
}

.top-nav-wrapper:has(.covered){
    position:fixed;
top:0px;
  bottom:unset;
  width:100%
}
.covered{
  width: calc(100% + 1px);
  border-radius: 0px;
}

.logo {
  aspect-ratio: 1/1;
  margin: 5px;
  width:50px;
  margin-right: -48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/LogoThemed1.svg");
  display: block;
}

.menu-btn {
  aspect-ratio: 1/1;
  margin: 5px;
  margin-left: -48px;
  display:none;
  float: right;
  border-radius: 100px;
  width: 48px;
  justify-content: center;
  background-color: var(--white_black)
  
}

.menu-btn i{
  align-content: center;
height: auto;
font-size:1.5em;
color: var(--primary);
}

/* Navbar Options, wrapper for nav-btn, changes for responsive behaviour */

.nav-opt {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
  gap:10px;
  
}
.nav-shadow {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  gap: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.2s; /* transition opacity and visibility */
  visibility: hidden;
}

.responsive-nav .nav-shadow {
  background-color: rgba(0, 0, 0, 0.161);
  backdrop-filter: blur(10px);
  visibility: visible;
  /* Make it visible and fully opaque when the class exists */
  opacity: 1;
}
.nav-opt a{
  text-decoration: none;
}
.responsive-nav{
  justify-content: space-between; /* So that menu-btn does not collapse */
}



.responsive-nav .nav-opt{
  flex-direction: column;
  position: absolute;
  top:54px; /* Magic number */
  justify-self: center;
  left:50%;
  transform: translateX(-50%) translate3d(0,0,0);
  width:calc(99% - 75px); /* Magic number */
  gap:10px;
  padding:10px;
  padding-top: 0px;
  background-color: var(--purew_dark-grey);
  border-radius: 0px 0px 30px 30px; /* 60px/2 */
}



.flipped:not(.covered) .nav-opt  {
  top:unset;
  bottom:54px; /* Magic number */
  padding:10px;
  padding-bottom: 0px;
  padding-top: 10px;
  border-radius: 30px 30px 0px 0px; /* 60px/2 */
}

.covered.responsive-nav .nav-opt{
  width:calc(100vw - 20px);
  border-radius: 0px;
  height: 100vh;
  justify-content: start;
}


.responsive-nav .nav-opt .nav-btn:nth-of-type(4){
  border-radius:10px 10px 25px 25px /* 60px-5px-5px/2 */
}

.flipped:not(.covered) .nav-opt .nav-btn:nth-of-type(4){
  border-radius:10px 10px 10px 10px /* 60px-5px-5px/2 */
}

.flipped:not(.covered) .nav-opt .nav-btn:nth-of-type(1){
  border-radius:25px 25px 10px 10px /* 60px-5px-5px/2 */
}

.responsive-nav .nav-btn{
  width:calc(100% - 10px); /* 5px gutters */
  border-radius: 10px; 
}
.covered.responsive-nav .nav-btn{
width:calc(99% - 75px);
}

.nav-btn {
  background-color: var(--white_dark-grey-1);
  padding: 3px;
  align-self: center;
  display:inline-flex;
  gap:20px;
  border-radius: 30px;
  position:relative;
  transition: box-shadow 0.2s, background-color 0.2s, border 0.2s;
  border:1.5px solid var(--white_dark-grey-1);
}
.nav-btn:hover{
  background-color: var(--light-grey_dark-grey-2);
  border: 1.5px solid var(--light-grey-1_dark-grey-2);  
  box-shadow: 0px 0px 10px 0px var(--light-grey-1_clear);
}


.nav-btn::after{
  position:absolute;
  content:"";
  width:10%;
  left:50%;
  transform: translateX(-50%);
  bottom:0px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  background-color: var(--primary);
  opacity: 0;
  transition: all 0.5s;
}

.nav-btn.current::after{
  position:absolute;
  content:"";
  width:calc(100% - 80px);
  left:50%;
  transform: translateX(-50%);
  bottom:0px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  background-color: var(--primary);
  transition: width 0.5s;
  opacity: 1;
}

.nav-btn-icon{
aspect-ratio: 1/1;
width:2em;
padding:2.5px;
border-radius: 100px;

    transition: all 0.2s;
  display:flex;
  justify-content: center;
  color: var(--primary);
  
  background-color: var(--purew_black);
  border: 2px solid  var(--purew_clear);
 
}
.nav-btn:hover .nav-btn-icon{
  box-shadow: 0 0 10px 0px var(--light-grey-1_black) inset;
  background-color: var(--purew_black);
  border: 2px solid  var(--light-grey-1_clear);
}

.nav-btn-icon i{
align-content: center;
height: auto;
font-size:1.5em ; /* Fontawesome font-size * 1.5*/
color: inherit;
}

/* Button Text */
.nav-btn-label{
  color: var(--primary-text-black_primary-text);
  margin-right:20px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  align-content: center;
}

@media only screen and (max-width: 1024px) {
  .menu-btn {
    display:flex; /* Show menu-btn*/
  }
  .nav-opt .nav-btn:nth-of-type(4):not(.responsive-nav .nav-btn){ /* Hide Button */
    display: none;
  }
  .hero-section{
    border-bottom-right-radius: 0px;
  }
.top-nav-wrapper{
  bottom:1%;
}
}

@media only screen and (max-width: 850px) {

  .nav-opt .nav-btn:nth-of-type(3):not(.responsive-nav .nav-btn){ /* Hide Button */
    display: none;
  }
  .nav-btn-label{
    font-size:16px;
  }
}

@media only screen and (max-width: 475px) {

  .nav-opt .nav-btn:nth-of-type(2):not(.responsive-nav .nav-btn) { /* Hide Button */
  display: none;
  }
    .nav-opt .nav-btn:nth-of-type(1):not(.responsive-nav .nav-btn) { /* Hide Button */
    display: none;
  }

}



.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


section{
  display: flex;
  padding:10px;
background-color: var(--white_black);
}

.hero-section{
  
      background-image:var(--background-image);
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      -webkit-background-position: center;
      margin-bottom: -30px;
      display: flex;
      min-height:calc(100vh + 30px);
      position: relative;
      justify-content: center;
      align-items:center;
background: linear-gradient(45deg, var(--purew_pureb) 25%, var(--purew_pureb) 25%, var(--purew_pureb) 50%, var(--secondary-saturated_secondary) 50%, var(--primary) 75%, var(--purew_pureb) 75%, var(--primary) 100%);
    
background: -webkit-linear-gradient(45deg, var(--purew_pureb) 25%, var(--purew_pureb) 25%, var(--purew_pureb) 50%, var(--secondary-saturated_secondary) 50%, var(--primary) 75%, var(--purew_pureb) 75%, var(--primary) 100%);
}

.hero-subsection{
  min-width:380px;
  max-width:50%;
  flex:1;
  position: relative;
  display:flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px;
  text-align: center;
  
  height:50%;
}
h1{
    color: var(--primary-text-black_primary-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
}
h2{
      color: var(--primary-text-black_primary-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}
.hero-subsection:nth-of-type(1){
  color:var(--primary-text-black_primary-text);
  font-family: Arial, Helvetica, sans-serif;
}
.hero-subsection:nth-of-type(2){
    overflow-y: hidden;
}
.hero-subsection h1{
  margin: 0px;
  font-size: 3.5em;
  width:fit-content;
  padding-left: 5%;
  padding-right:5%;
  min-height: 1.5em;
}
.hero-subsection h2{
  font-size: 2em;
}




.hero-subsection h2::after{
content: "-";
margin:10px;
}
.hero-subsection h2:last-of-type::after{
content: "";
margin: unset;
}

.hero-tagline{
  display: flex;
  justify-content: center;
  margin-bottom: 2.25em;
}



.hero-cta{
  padding:0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--primary);
  border-radius: 100px;
  font-size: 1.5em;
  font-weight: bolder;
  transition: all .2s;
  border: none;
  overflow:hidden;
}
.hero-section a{
  all:unset;
  color : white;
}
.hero-cta:hover{
  background-color: var(--primary-saturated);
}
@media only screen and (aspect-ratio < 1/1) {
  .hero-section{
      background: var(--purew_pureb);
background: linear-gradient(225deg, var(--purew_pureb) 25%, var(--purew_pureb) 25%, var(--purew_pureb) 50%, var(--secondary-saturated_secondary) 50%, var(--primary) 75%, var(--purew_pureb) 75%, var(--primary) 100%);
background: -webkit-linear-gradient(225deg, var(--purew_pureb) 25%, var(--purew_pureb) 25%, var(--purew_pureb) 50%, var(--secondary-saturated_secondary) 50%, var(--primary) 75%, var(--purew_pureb) 75%, var(--primary) 100%);
  }
}


.about-section{
  padding-top: 30px;
  
  display: flex;
  position: relative;
  box-sizing: border-box;
  height:min-content;
  justify-content: center;
  align-items: center;
   overflow: clip;
  width:100vw;
  
}
.about-half{
flex: 1;
min-height: max-content;
overflow: hidden;
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.about-half img{
  max-width: 80vh;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 10%;
}

.about-info{
  display:flex;
  justify-content: left;
  flex-direction: column;
  padding:10px;
}
.about-info h1{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.tools-section{
  padding:10px;
    top:0px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.tools-section h1{


width:100%;
  text-align: center;
}

.tools-section p{
  max-width: 830px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:10px;
  text-align: justify;
  margin-bottom: 30px;
}


.stack{
  display:flex;

  perspective: 1000px;

  position: relative;
justify-content: center;
align-content: center;
  gap:30px;
  width: fit;
  flex-wrap: wrap;
  margin-bottom: 30px;

}


.stack-grid{
  
  
  display:grid;
  grid-template-columns: auto auto auto;
  height: min-content;
  background-color: var(--white_dark-grey);
  padding: 16px;
  gap:16px;
  border-radius: 20px;
  transform-style: preserve-3d;
  position: relative;
  transition: all 0.2s;
  max-width: 25%;
  min-width: min-content;
  
  box-shadow: 0 0 10px 0px var(--light-grey-2_black);

}
.stack-grid::before{
  content:attr(label);
  grid-column-start: 1;
  grid-column-end: 4;
  display: block;
  text-align: center;
  font-size: 2em;
  color:var(--primary-text-black_primary-text);
  min-width:150px;
  font-weight: bold;
}
.stack-grid:nth-of-type(2)::before{
  grid-column-end: 3;
}

.stack-grid:nth-of-type(2){
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  max-width: min-content;
  align-items: start;
}


.stack-grid:hover{
  transform: translateZ(10px);
  box-shadow: 0 0 10px 0px var(--light-grey-2_black);

}


.stack-grid i{
  --radius:inherit;
  border-radius: 15px;

  display: block;
  padding:2.5px;
  aspect-ratio: 1/1;
  font-size: 3em;
  width:1.5em;
  background-color: var(--light-grey-1_dark-grey-1);

  transition: all 0.2s;

  position: relative;
  
  align-content: center;
    background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  box-sizing: border-box;
    color:white;
  }

.stack-grid i:hover{
  transform: scale(1.01);
  
  transition: all 0.2s;
  background-color: var(--light-grey-2_dark-grey-2);
  box-shadow: 0 0 10px 0px var(--light-grey-2_black)


  }
.stack-grid span{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: min-content;
 
}
.stack-grid span::after{
  content:attr(label);
  display:block;
  width:100%;
  text-align: center;
  padding:2px;
  box-sizing: border-box;
  margin-bottom: 2px;
  max-width: 120%;
  word-wrap: break-word;
  line-height: 1.25em;
  min-height: 2.75em;
  font-size: 1em;
  
}  




.project-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.project-section h1{
  text-align: center;
}
.project-grid{
  display: grid;
  position: relative;
grid-template-columns: repeat(auto-fit, 300px);
width:100%;
  height: max-content;
  align-items: center;
  justify-content: center;
  gap:30px;

}



.project-card{
    height: 400px;
    background-color: var(--white_dark-grey);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding:10px;
    gap:10px;
    padding-bottom: 80px;
    box-shadow: 0 0 10px 0px var(--light-grey-2_black)
}

.project-card img{
 
  border-radius: 15px;
  transition: all 0.2s;
  flex-grow:1;
  height: 45%;
  max-height: 45%;
  object-fit: cover;
  
}

@media only screen and (max-width: 400px){
  .project-grid{
    grid-template-columns: repeat(auto-fit, 100%);
  }
  .project-card{
    height: max-content;
  }
  .project-card img{
    height: 200px;
    max-height: 200px;
  }
}
.project-card img:hover{


  box-shadow: 0 0 10px 0px var(--dark-grey-2_black);
  transform: scale(1.01);
  position: relative;
}

.project-card .project-info{
  flex-grow: 1.1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.project-card .project-info::before{
  content: attr(label);
  font-size: 2em;
  font-weight: bold;
}
.project-card .project-info p:nth-of-type(1){
  font-size:1em;
  font-weight: lighter;
 
  text-align: left;
  padding: 4px;
  padding-left: 0px;

  margin-top: 5px;margin-bottom: 5px;
  border-top: 1px solid var(--light-grey-1_dark-grey-1);
   border-bottom: 1px solid var(var(--light-grey-1_dark-grey-1));
  
}
.project-card .project-info p:nth-of-type(2){
flex:1;
overflow:hidden;
margin: 0px;
font-size:1em;
padding-bottom: 5px;
}
.project-info span{
  display: inline-flex;
  gap:5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  
}
 .project-cta{
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom:0px;
  left: 0;
  width:100%;
    height: 70px;
  transition: all 0.2s;
  overflow: hidden;
  background-color: var(--light-grey_dark-grey-1);
  padding:5px;
  box-sizing: border-box;
  gap:5px;

}
.project-cta a{
  all:unset;
  flex:1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  background-color: var(--light-grey_dark-grey-1);
  font-weight: bold;
  height: 70px;
  transition: all 0.2s;
  border-radius: 5px;
  flex-direction: column;
  gap:0px;
  box-sizing: border-box;
  
}
.project-cta a i{
  font-size: 1.5em;
}
.project-cta a:nth-of-type(1){
  border-bottom-left-radius:15px;
}
.project-cta a:last-of-type{
  border-bottom-right-radius:15px;
}
.project-cta a:hover{
  background: var(--light-grey-1_dark-grey-2);
}

.project-cta:hover{
  height: 80px;
}

.project-info span div{
  padding:4px;
  background-color: var(--light-grey_dark-grey-1);
  border-radius: 5px;
  }

  @media only screen and (aspect-ratio < 1.25/1){
  .about-section{
    flex-direction: column;
    justify-content: start;
  }
  .about-half{
    min-height: unset;
    flex:unset
  }
  .about-half img{
    margin-bottom: 0;
  }
  .tools-section h1{
  flex:1;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.tools-section p{
  width: 100%;
  text-align: left;
}
}

@media only screen and (width  < 550px){
  .tools-section .stack-grid{
  width:100%;
  max-width: 100%;
}
.stack-grid:nth-of-type(2)::before{
  grid-column-end: 5;
}

.stack-grid:nth-of-type(2){
  grid-template-columns: auto auto auto auto;

}

.stack-grid span::after{
min-height: 1em;
  
}  
} 

section.contact-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--purew_pureb);
}
section.contact-section h1{
  margin-bottom: 0px;
}
section.contact-section ul{
  list-style-type:none;
  list-style-position: inside;
  padding: 0px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 3em;
  gap:0.8em
}
section.contact-section li{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white_black);
  width:2em;
  aspect-ratio: 1/1;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px var(--white_black);
  transition: all 0.2s;
   border: 2px solid var(--white_black);

}
section.contact-section i{
    align-content: center;
    background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
display: block;

}
section.contact-section li:hover{
 background-color: var(--light-grey_dark-grey);
 border: 2px solid var(--light-grey-1_dark-grey-1);
}
section.contact-section span{
  font-size: 0.4em;
  color:var(--primary-text-black_primary-text);
}
section.contact-section a{
  all: unset;
}
