
/*
Variable Definitions
*/
:root {

  --top-nav:rgb(35, 35, 35);
  --nav-btn: rgb(70, 70, 70);
  --tertiary: #000000;
  --primary: #ff7800;
  --primary-text:white;;
  --background-image:url("./assets/backgroundDark.jpeg");
}

/*
Scrollbar  Handling
*/

::-webkit-scrollbar {
  width: 14px;
  box-shadow: -10px 0px 8px black;
  
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

::-webkit-scrollbar-track {
  z-index: -10;
  display: none;
}


body {
  background-color: black;
      margin: 0;
      padding:0;
      
      
}
html{
  overflow-x: hidden;
}


/* Takes full screen width */
.top-nav-wrapper{
  display: flex; 
  justify-content: center;
  position: sticky;
  top:10px;
  bottom:-90px;
  margin-top:0px;
  margin-bottom: -30px;
  
}



/* Main nav element */

.top-nav {
  height: max-content;
  position: relative;
  width: 98%;
  min-height: 60px;
  display: inline-flex;
  border-radius: 100px;
  background-color: var(--top-nav);
}
.top-nav-wrapper:has(.flipped){
  bottom:1%;
}

.top-nav-wrapper:has(.covered){
  position: fixed;
  bottom:unset;
  top:0px;
  width:100%
}
.covered{
  width: 100%;
  border-radius: 0px;
}

.logo {
  aspect-ratio: 1/1;
  margin: 5px;
  width:50px;
  margin-right: -48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/LogoThemed2.svg");
}

.menu-btn {
  aspect-ratio: 1/1;
  margin: 5px;
  margin-left: -48px;
  display:none;
  float: right;
  border-radius: 100px;
  width: 48px;
  justify-content: center;
  background-color: var(--tertiary);
}

.menu-btn i{
  align-content: center;
height: auto;
font-size:1.5em;
color: var(--primary);
}

/* Navbar Options, wrapper for nav-btn, changes for responsive behaviour */

.nav-opt {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
  gap:10px;
}

.responsive-nav{
  justify-content: space-between; /* So that menu-btn does not collapse */
}


.responsive-nav .nav-opt{
  flex-direction: column;
  position: absolute;
  top:55px; /* Magic number */
  justify-self: center;
  left:50%;
  transform: translate(-50%) translate3d(0,0,0);
  width:calc(99% - 75px); /* Magic number */
  gap:10px;
  padding:10px;
  padding-top: 0px;
  background-color: var(--top-nav);
  border-radius: 0px 0px 30px 30px; /* 60px/2 */
}

.flipped:not(.covered) .nav-opt  {
  top:unset;
  bottom:55px; /* Magic number */
  padding:10px;
  padding-bottom: 0px;
  padding-top: 10px;
  border-radius: 30px 30px 0px 0px; /* 60px/2 */
}
.covered.responsive-nav .nav-opt{
  width:calc(100vw - 20px);
  border-radius: 0px;
  height: 100vh;
  justify-content: start;
}


.responsive-nav .nav-opt .nav-btn:nth-of-type(4){
  border-radius:10px 10px 25px 25px /* 60px-5px-5px/2 */
}

.flipped:not(.covered) .nav-opt .nav-btn:nth-of-type(4){
  border-radius:10px 10px 10px 10px /* 60px-5px-5px/2 */
}

.flipped:not(.covered) .nav-opt .nav-btn:nth-of-type(1){
  border-radius:25px 25px 10px 10px /* 60px-5px-5px/2 */
}

.responsive-nav .nav-btn{
  width:calc(100% - 10px); /* 5px gutters */
  border-radius: 10px; 
}
.covered.responsive-nav .nav-btn{
width:calc(99% - 75px);
}

.nav-btn {
  background-color: var(--nav-btn);
  padding: 5px;
  align-self: center;
  display:inline-flex;
  gap:20px;
  border-radius: 30px;
}

.nav-btn-icon{
aspect-ratio: 1/1;
width:2em;
padding:4px;
border-radius: 100px;
background-color: var(--tertiary);
    
  display:flex;
  justify-content: center;
  
}
.nav-btn-icon i{
align-content: center;
height: auto;
font-size:1.5em ; /* Fontawesome font-size * 1.5*/
color: var(--primary)
}

/* Button Text */
.nav-btn-label{
  color: var(--primary-text);
  margin-right:20px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  align-content: center;
}

@media only screen and (max-width: 1024px) {
  .menu-btn {
    display:flex; /* Show menu-btn*/
  }
  .nav-opt .nav-btn:nth-of-type(4):not(.responsive-nav .nav-btn){ /* Hide Button */
    display: none;
  }
  .hero-section{
    border-bottom-right-radius: 0px;
  }

}

@media only screen and (max-width: 850px) {

  .nav-opt .nav-btn:nth-of-type(3):not(.responsive-nav .nav-btn){ /* Hide Button */
    display: none;
  }
  .nav-btn-label{
    font-size:16px;
  }
}

@media only screen and (max-width: 475px) {

  .nav-opt .nav-btn:nth-of-type(2):not(.responsive-nav .nav-btn) { /* Hide Button */
  display: none;
  }
    .nav-opt .nav-btn:nth-of-type(1):not(.responsive-nav .nav-btn) { /* Hide Button */
    display: none;
  }

}




.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


section{
  display: flex;
  padding:10px;
  
  
}

.hero-section{
  
      background-image:var(--background-image);
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      -webkit-background-position: center;
      margin-bottom: 0px;
      display: flex;
      flex-wrap: wrap;
      min-height:calc(100vh + 30px);
      position: relative;
      justify-content: center;
      align-items:center;
}

.hero-subsection{
  min-width:380px;
  max-width:50%;
  flex-grow:1;
  position: relative;
  display:flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px;
  text-align: center;
  
  height:50%;
  min-height:400px;
}

.hero-subsection:nth-of-type(1){
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
}
.hero-subsection:nth-of-type(2){
    overflow-y: hidden;
}
.hero-subsection h1{
  margin: 0px;
  font-size: 3em;
  width:fit-content;
  padding-left: 5%;
  padding-right:5%;
}
.hero-subsection h2{
  font-size: 2em;
}




.hero-subsection h2:nth-of-type(1)::after{
content: "-";
margin:10px;
}
.hero-subsection h2:nth-of-type(2)::after{
content: "-";
margin:10px;
}

.hero-tagline{
  display: flex;
  justify-content: center;
  margin-bottom: 2.25em;
}
.hero-cta{
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--primary);
  border-radius: 100px;
  font-size: 1.5em;
  font-weight: bolder;
  
}


.module-container{
  width:70%;
  min-width:200px;
  max-width: 400px;
 
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  perspective: 1600px;
  transform-style: preserve-3d;

}
@media only screen and (min-width:1000px){
.module-container{
  max-width: 800px;
}
}

.module-screen{
  width:100%;
  aspect-ratio: 16/9;
  height:auto;
  background-color: rgb(0, 0, 0);
  border-radius: 10px 10px 0 0;
  
}
.module-keyboard{
  width:96%;
  aspect-ratio: 16/9;
  height:auto;
  background-color: #AAAAAA;
  transform-origin: top;
  transform: rotate3d(1,0,0,50deg);
  border-radius: 0px 0px 10px 10px;
  padding:2%;
  display: flex;
  flex-direction: column;
  gap:2%;
  justify-content: center;
  align-items: center;
  font-size: clamp(4.75px, 0.65vw, 0.65vw);;
}


.module-keyboard-keyarea{
  aspect-ratio: 14.8/5;
  width:96%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.module-keyboard-touchpad{
  flex-grow: 1;
   width:30%;
   background-color: #9a9a9a;
   position: relative;
}
.module-keyboard-touchpad::after{
  content: "";
  width:80%;
  bottom:20%;
  border: 0.7px solid rgb(116, 116, 116);
  position: absolute;
  left:50%;
  transform: translateX(-50%)
}
.keyarea-keyrow{
  display: flex;
  width:100%;
  aspect-ratio: 14.8/1;
  position:relative;
  align-items: center;
}
.keyarea-fncrow{
  display: flex;
  background-color: #151515;
  position:relative;
  width:100%;
  aspect-ratio: 15/0.5;
  border-bottom: 2px solid #AAAAAA;
  border-left: 2px solid #AAAAAA;
  border-right: 2px solid #AAAAAA;
  box-sizing: border-box;
}


.keyarea-key{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  aspect-ratio: 1/1;
  height:100%;
  background-color:black;
  border: 2px solid #AAAAAA;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: white;
  align-content:start;
  font-size: 1em;
  text-align: left;
  text-indent: 1px each-line;
  line-height: 100%;
  overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.keyarea-key::before{
  content:"";
  height:2px;
  display:none;
}
.keyarea-key::after{
  content:"";
  position: absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:2px;
  background-color: #676767;
}



.key-text{
  font-size: 0.8em;
  padding-left:0.2em;
  padding-top: 0.4em;
  align-content:start;
}
.key-letter{
  font-size: 1.25em;
  padding-left:0.1em;
  padding-top: 0.2em;
}


.key-duo span{
font-size: 1em;
line-height: 1em;
}
.key-duo{
  padding-left:0.2em;
}
.key-bksp{
  aspect-ratio: 1.8/1;
  text-align: right;
  padding-right:0.2em;
}
.key-rtab{
  aspect-ratio: 1.4/1;
}
.key-ltab{
  aspect-ratio: 1.4/1;
}
.key-entr{
  aspect-ratio: 2/1;
  text-align: right;
  padding-right:0.2em;
}
.key-cplk{
   aspect-ratio: 1.8/1;
}
.key-rshf{
   aspect-ratio: 2.6/1;
   text-align: right;
   padding-right:0.2em;
}
.key-lshf{
   aspect-ratio: 2.2/1;
}
.key-mult{
   aspect-ratio: 2.6/1;
   height: 100%;
   display: flex;
   flex-direction: column;
}
.key-mult-row{
display: flex;
flex-direction: row;
aspect-ratio: 4/1;
}
.mult-key{
 flex-grow: 1;
 font-size: 0.8em;
 aspect-ratio: 1.3/1;
 line-height: 1.6em;
 align-items: center;
}

.key-ctrl{
   aspect-ratio: 1.1/1;
}
.key-spce{
  aspect-ratio: 5.1/1;
}
.key-pressed{
  border-bottom: 2px solid #AAAAAA;
}

.key-pressed::after{
  background-color: #AAAAAA;
  bottom:unset;
  top:0px
}

.key-pressed::before{
  display: block;
}

.keyarea-key:hover{
  border-bottom: 2px solid #AAAAAA;
}

.keyarea-key:hover::after{
  background-color: #AAAAAA;
  bottom:unset;
  top:0px;
  
}
.key-logo{
  text-indent: 0px;
  text-align: center;
  justify-content: center;
  position: relative;
  
}
.key-logo i{
  height:100%;
  padding-top: calc(31.5% - 2px);
  font-size: 1.5em;
}
.keyarea-key:hover::before{
  display: block;
  
}
.key-arrow{
  text-indent: 0px;
  text-align: center;
  justify-content: center;
  position: relative;
}

